body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.App {
  text-align: center;
}

.favorite {
  width: 50%;
  height: 100vh;
  background-color: antiquewhite;
  overflow-x: scroll;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.randomUser {
  background-color: aqua;
  overflow: scroll;
  height: 100vh;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#generator {
  background-color: bisque;
}
